@{
	ViewData["Title"] = "Все товары";
}
@{
	ViewBag.searches = new string[] { "Name", "Category.Name" };
	ViewBag.sorts = new string[] { "Name", "Category.Name", "PurchasePrice", "RetailPrice" };
}
@model IEnumerable<Product>
 
<h3 class="p-2 bg-primary text-white text-center">Товары</h3>
<div class="container">
	@Html.Partial("_PageOptions", Model)
	@if (ViewBag.UpdateAll != true)
	{
		<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#topSellingProducts" aria-expanded="false" aria-controls="topSellingProducts">
			Показать топ 10 хитов продаж
		</button>

		<div class="collapse" id="topSellingProducts">
			<div class="card card-body mb-3"> 
				<vc:top-selling-products></vc:top-selling-products>
			</div>
		</div>
		
		<div class="row">
			<div class="col fw-bold">Название</div>
			<div class="col fw-bold">Категория</div>
			<div class="col fw-bold">Закупочная цена</div>
			<div class="col fw-bold">Розничная цена</div>
			<div class="col"></div>
		</div>


		@foreach (Product product in Model)
		{
			<div class="row р-2">
				<div class="col">@product.Name</div>
				<div class="col">@product.Category.Name</div>
				<div class="col text-right">@product.PurchasePrice</div>
				<div class="col text-right">@product.RetailPrice</div>
				<div class="col">
					<form asp-action="DeleteProduct" method="post">
						<input type="hidden" name="Id" value="@product.Id">
						<a asp-action="UpdateProduct" asp-route-id="@product.Id" class="btn btn-outline-primary">Редактировать</a>
						<button type="submit" class="btn btn-outline-danger">Удалить</button>
					</form>
				</div>
			</div>
		}

		<div class="text-center">
			@Html.Partial("_Pages", Model)
		</div>


		<div class="text-center р-2">
			<a asp-action="UpdateProduct" asp-route-id="0" class="btn btn-primary">Добавить</a>
		</div>

		@*
	practice 1 code
 *@

		<div class="text-center">
			<a asp-action="UpdateAll" class="btn btn-primary">Редактировать все</a>
		</div>
		
	}
	else
	{
		@await Html.PartialAsync("_InlineEditor", Model)
 
	}

</div>